.grid {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagination {
  text-align: center;
  flex-grow: 1;
}

.pagination a {
  text-decoration: none;
  color: rgb(148, 255, 127);
  margin: 0 8px;
}
